<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>home</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="./css/style11.css">

</head>

<body>

	<nav>
		<div>
			<ul class="nav ">
				<a class="navbar-brand" id="brand0" href="index.html">
					<img src=" ./img/icone.png" style="width: 120px;" class="img-fluid img-nav">
				</a>
				<li class="nav-item">
					<a class="nav-link" href="index.html">Home</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="Destino.html">Destinos</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="Promoções.html">Promoções</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="Contato.html">Contato</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="usuarios.html" style="color: red">Usuarios</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="reserva.html" style="color: red">Reservas</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="passagem.html" style="color: red">Passagens</a>
				</li>

				<li>
					<a href="create_usuarios.html">
						<img src="./img/cadastrar.png" class="img-fluid loguin-img">
					</a>
				</li>

			</ul>

			<main>

				<section class="container">
					<div class="p-4">
						<a href="./index.html" class="btn btn-secondary mb-2 botao1">Voltar para home</a>

						<div class="table-responsive">
							<a href="./create_usuarios.html" class="btn btn-primary mb-2 botao1">Novo Usuário</a>
							<table class="table table-custom table-hover table-bordered">
								<h4 class="table-caption">Lista de Usuários</h4>

								<thead>
									<tr>
										<th scope="col">ID</th>
										<th scope="col">Nome</th>
										<th scope="col">Endereço</th>
										<th scope="col">CEP</th>
										<th scope="col">CPF</th>
										<th scope="col">E-mail</th>
										<th scope="col">Senha</th>
										<th scope="col">Telefone</th>
										<th scope="col">Data de Cadastro</th>
										<th scope="col">Editar/Excluir</th>
									</tr>
								</thead>
								<tbody>
									<!-- Loop para exibir cada cliente -->
									<tr th:each="cliente : ${cliente}" th:id="'cliente-' + ${cliente.id_cliente}">


										<td th:text="${cliente.id_cliente}"></td>
										<td th:text="${cliente.nomecompleto}"></td>
										<td th:text="${cliente.endereco}"></td>
										<td th:text="${cliente.cep}"></td>
										<td th:text="${cliente.cpf}"></td>
										<td th:text="${cliente.e_mail}"></td>
										<td th:text="${cliente.senha}"></td>
										<td th:text="${cliente.telefone}"></td>
										<td th:text="${cliente.datacadastro}"></td>
										<td>
											<a th:href="@{/update_usuarios/{id}(id=${cliente.id_cliente})}" class="btn btn-warning btn-sm">Editar</a>

											<a th:href="@{/excluirUsuario/{id}(id=${cliente.id_cliente})}"
												class="btn btn-danger btn-sm">Excluir</a>
										</td>
									</tr>
									</th:each>
								</tbody>
							</table>
						</div> 
					</div>
				</section>
			</main>

		</div>
	</nav>

	<!-- Footer e scripts (mantidos como estão) -->
	<footer>
		<p>Boa viagem é uma marca registrada de boaviagem S.A | CNPJ: xxxx | Todos os direitos reservados. Os preços
			anunciados neste site ou via e-mail promocional podem ser alterados. As fotos contidas nesta página são
			meramente ilustrativas. Este site trabalha 100% em criptografia SSL.</p>
	</footer>

</body>

</html>